<div class="quick-view" data-id>
	<div class="quick-view-inner">
		<button class="quick-view-close close-button">
			<span class="sr-only">{{- 'accessibility.close' | t -}}</span>
			{%- render 'icon', code: 'close-thin' -%}
		</button>

		<div class="quick-view-content"></div>
	</div>
</div>
