{% comment %}
		Renders a list of product's price (regular, sale)

		Accepts:
		- product: {Object} Product Liquid object (optional)
		- use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
		- price_class: {String} Adds a price class to the price element (optional)

		Usage:
		{% render 'price', product: product %}
{% endcomment %}
{%- liquid
	if use_variant
		assign target = product.selected_or_first_available_variant
	else
		assign target = product
	endif

	assign price            = target.price | default: 1095
	assign compare_at_price = target.compare_at_price
-%}

<div class="product-price{% if price_class %} {{ price_class }}{% endif %}">
	{%- if compare_at_price -%}
		<s class="regular-price">
			<span class="sr-only">{{- 'products.product.price.regular_price' | t -}} </span>
			{%- render 'get-price', price: compare_at_price -%}
		</s>

		<span class="price">
			<span class="sr-only">{{- 'products.product.price.sale_price' | t -}} </span>
			{%- render 'get-price', price: price -%}
		</span>
	{%- else -%}
		<span class="price">
			<span class="sr-only">{{- 'products.product.price.regular_price' | t -}} </span>
			{%- render 'get-price', price: price -%}
		</span>
	{%- endif -%}

	{%- render 'price-unit', product: product -%}
</div>
