@keyframes lazy-loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2rem);
  }
  60% {
    transform: translateY(-0.5rem);
  }
}
@keyframes topBottom {
  10%, 90% {
    transform: translateY(0);
  }
  20%, 80% {
    transform: translateY(1rem);
  }
  30%, 50%, 70% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(1rem);
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes circle-loading {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.circle-loading:before {
  content: "";
  z-index: 5;
  position: absolute;
  border: 3px solid rgb(var(--loading-color));
  border-top-color: transparent;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  animation: circle-loading 500ms infinite linear;
}

.error-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.error-section .error-content-page {
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.error-section .logo {
  font-size: 4rem;
}
.error-section .logo svg {
  width: 100%;
  height: 100%;
}
.error-section .heading {
  margin: 0;
  line-height: 1.5;
}
.error-section .description {
  line-height: 1.8;
  margin-top: 2.4rem;
}
@media (hover: hover) {
  .error-section .description a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.3rem;
  }
}
.error-section .error-search-form {
  margin-top: 3.3rem;
}
.error-section .error-search-form .field-input,
.error-section .error-search-form .field-button {
  border-radius: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}
.error-section .error-search-form .field-input {
  background-color: transparent;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 0.5rem;
  border: 0;
}
@media (min-width: 992px) {
  .error-section .error-search-form .field-input {
    min-width: 46rem;
  }
}
.error-section .error-search-form .field-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--text-color), 0.3);
}
.error-section .error-search-form .field-button {
  font-weight: 600;
  min-width: 10rem;
}