.cart-page-section {
  padding-top: 4rem;
  padding-bottom: 8rem;
}
.cart-page-section .cart-empty {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-page-section .cart-empty .cart-empty-text {
  font-size: 3rem;
}
.cart-page-section .cart-empty .continue-shopping {
  display: inline-block;
  margin: 2rem 0 1rem 0;
}
.cart-page-section .cart-empty .cart-login-title {
  font-size: 2rem;
}
.cart-page-section .cart-empty .cart-login-paragraph a {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.1rem;
}
.cart-page-section .cart-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.6rem;
}
.cart-page-section .cart-header .title {
  margin: 0;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 6rem;
}
.cart-page-section .cart-header .continue-shopping {
  text-decoration: underline;
  margin-bottom: 1rem;
}
.cart-page-section .cart-table {
  width: 100%;
  border: 0;
  margin: 5rem 0;
}
.cart-page-section .cart-table thead {
  font-size: 1.6rem;
}
.cart-page-section .cart-table th,
.cart-page-section .cart-table td {
  border-left: 0;
  border-right: 0;
  border-color: rgb(var(--heading-color));
}
@media (max-width: 767px) {
  .cart-page-section .cart-table th,
  .cart-page-section .cart-table td {
    display: block;
  }
}
.cart-page-section .cart-table th:first-child,
.cart-page-section .cart-table td:first-child {
  width: 37rem;
}
.cart-page-section .cart-table th:last-child,
.cart-page-section .cart-table td:last-child {
  text-align: right;
}
@media (hover: hover) {
  .cart-page-section .cart-table tr:hover .product-remove {
    opacity: 1;
    visibility: visible;
  }
}
.cart-page-section .cart-table th {
  padding: 1.2rem 0;
  color: rgb(var(--heading-color));
}
.cart-page-section .cart-table td {
  padding: 3rem 0;
  vertical-align: top;
}
.cart-page-section .cart-form {
  margin-bottom: 4rem;
}
.cart-page-section .product-item.updating {
  opacity: 0.4;
  pointer-events: none;
}
.cart-page-section .product-item .product-warning {
  padding: 1rem;
  margin-top: 1rem;
}
.cart-page-section .product-item .product-warning svg {
  vertical-align: -0.4rem;
}
.cart-page-section .product-item .product-warning:empty {
  display: none;
}
.cart-page-section .loading-spinner {
  width: 3rem;
  height: 3rem;
  display: none;
}
.cart-page-section .loading-spinner svg {
  width: 3rem;
  height: 3rem;
}
.cart-page-section .cart-item-error {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.cart-page-section .cart-item-error .cart-item-error-text:empty + svg {
  display: none;
}
.cart-page-section .cart-item-error svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.1rem;
}
.cart-page-section .td-product-details {
  position: relative;
}
@media (max-width: 767px) {
  .cart-page-section .td-product-details {
    display: flex !important;
    align-items: flex-start;
  }
}
.cart-page-section .td-product-details .cart-item-name {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.4rem;
}
.cart-page-section .td-product-details .product-options:empty {
  display: none;
}
.cart-page-section .td-product-details .product-options .product-option {
  display: block;
}
.cart-page-section .cart-item-image {
  display: inline-block;
  margin-right: 2rem;
  min-width: 7rem;
  max-width: 7rem;
}
@media (max-width: 991px) {
  .cart-page-section .cart-item-image {
    margin-right: 3rem;
  }
}
.cart-page-section .card-item-info {
  display: inline-block;
  vertical-align: top;
  max-width: calc(37rem - 100px);
}
.cart-page-section .card-item-info .vendor {
  text-transform: uppercase;
  margin-bottom: 0;
}
.cart-page-section .card-item-info .product-vendor-link {
  color: rgb(var(--text-color));
}
@media (hover: hover) {
  .cart-page-section .card-item-info .product-vendor-link:hover {
    color: rgb(var(--link-color));
  }
}
.cart-page-section .product-price {
  color: rgb(var(--heading-color));
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .cart-page-section .product-price .regular-price {
    margin: 0;
    display: block;
  }
}
.cart-page-section .product-price .unit-price {
  display: block;
  margin-left: 0;
}
.cart-page-section .quantity-wraper {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .cart-page-section .quantity-wraper .quantity {
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
  }
  .cart-page-section .quantity-wraper .product-remove {
    position: absolute;
    top: 3rem;
    right: 0;
  }
}
.cart-page-section .td-totals-price {
  width: 10rem;
}
.cart-page-section .product-remove {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 0.5rem;
  transition: opacity 0.3s ease;
}
@media (min-width: 992px) {
  .cart-page-section .product-remove {
    opacity: 0;
    visibility: hidden;
  }
}
.cart-page-section .product-remove .tooltip {
  transform: translateY(5px);
  right: auto;
  bottom: calc(100% + 1.2rem);
}
.cart-page-section .product-remove .tooltip:before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.3rem;
  border-color: rgb(var(--button-bg-color)) transparent transparent transparent;
}
.cart-page-section .product-remove svg {
  width: 1.8rem;
  height: 1.8rem;
}
@media (hover: hover) {
  .cart-page-section .product-remove:hover .tooltip {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
.cart-page-section .cart-item-error {
  margin: 0;
}
.cart-page-section .discounts {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}
.cart-page-section .discounts svg {
  width: 2rem;
  margin-right: 1rem;
}
.cart-page-section .cart-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-page-section .cart-footer .cart-note {
  flex-grow: 1;
}
.cart-page-section .cart-footer .cart-note label {
  display: block;
  margin-bottom: 1rem;
}
.cart-page-section .cart-footer .cart-note textarea {
  max-width: 80%;
  width: 100%;
  min-height: 10rem;
  border-radius: 0.4rem;
}
.cart-page-section .cart-footer .cart-totals {
  flex-grow: 1;
  text-align: right;
}
.cart-page-section .cart-footer .cart-totals .tax-note {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  color: #A1A1A1;
}
.cart-page-section .cart-footer .cart-totals .totals-heading {
  color: rgb(var(--heading-color));
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.cart-page-section .cart-footer .cart-totals .totals-heading .totals-price {
  font-size: 3rem;
}
.cart-page-section .cart-footer .cart-totals [type=submit] {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  border-radius: var(--button-radius);
  padding: 1.2rem 3.2rem;
}
.cart-page-section .cart-footer .cart-amount-saved {
  color: rgb(var(--sale-price-color));
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .cart-page-section .cart-footer .cart-note,
  .cart-page-section .cart-footer .cart-totals {
    width: 100%;
    text-align: left;
  }
  .cart-page-section .cart-footer .cart-note {
    margin-bottom: 2rem;
  }
  .cart-page-section .cart-footer .cart-note textarea {
    max-width: 100%;
  }
  .cart-page-section .cart-footer .cart-totals [type=submit] {
    width: 100%;
    min-height: 4.5rem;
    text-transform: uppercase;
  }
}
.cart-page-section .cart-dynamic-checkout-buttons {
  margin-top: 1rem;
}
.cart-page-section .cart-dynamic-checkout-buttons [data-shopify-buttoncontainer] {
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cart-page-section {
    padding-top: 0.8rem;
    padding-bottom: 6rem;
  }
  .cart-page-section .cart-header {
    margin-bottom: 0;
  }
  .cart-page-section .cart-table {
    margin-top: 0;
  }
  .cart-page-section .cart-table tbody tr:first-child .td-product-details {
    padding-top: 2.5rem;
  }
  .cart-page-section .cart-table .cart-item-name {
    padding-right: 2rem;
  }
}