@keyframes lazy-loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2rem);
  }
  60% {
    transform: translateY(-0.5rem);
  }
}
@keyframes topBottom {
  10%, 90% {
    transform: translateY(0);
  }
  20%, 80% {
    transform: translateY(1rem);
  }
  30%, 50%, 70% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(1rem);
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes circle-loading {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.circle-loading:before {
  content: "";
  z-index: 5;
  position: absolute;
  border: 3px solid rgb(var(--loading-color));
  border-top-color: transparent;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  animation: circle-loading 500ms infinite linear;
}

.has-product-filters ul,
.has-product-filters ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.has-product-filters input[type=checkbox] {
  position: relative;
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0.1rem solid rgb(var(--text-color));
  -webkit-appearance: none;
  appearance: none;
}
.has-product-filters input[type=checkbox]:before {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
.has-product-filters input[type=checkbox]:checked:before {
  content: "";
}
.has-product-filters input[type=radio] {
  display: none;
}
.has-product-filters input[type=radio]:checked ~ label:before {
  background-color: currentColor;
}
.has-product-filters input[type=radio] ~ label:before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0 0.2rem currentColor;
  background-color: #fff;
  margin-right: 1.5rem;
  border-radius: 100%;
}
.has-product-filters .grid {
  margin: 0 -15px;
}
.has-product-filters .collections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.has-product-filters .collections .collection-media {
  text-align: center;
  margin-bottom: 3rem;
}
.has-product-filters .collections .collection-media img {
  width: 100%;
  max-height: 35rem;
}
.has-product-filters .item-list {
  font-size: 1.5rem;
  padding: 1rem 1.6rem;
}
.has-product-filters .item-list input {
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.has-product-filters .item-list input:checked ~ .color-visual.dark:before {
  background-image: var(--checkbox-white);
}
.has-product-filters .item-list input:checked ~ .color-visual.light:before {
  background-image: var(--checkbox-black);
}
.has-product-filters .item-list input[disabled] {
  cursor: default;
}
.has-product-filters .item-list input[disabled] + label {
  opacity: 0.6;
  cursor: default;
}
.has-product-filters .item-list input.hidden-color-input {
  opacity: 0;
  position: absolute;
  z-index: 25;
  margin: 0;
}
.has-product-filters .item-list .filter-label {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: transparent;
  text-underline-offset: 0.4rem;
}
.has-product-filters .item-list .filter-label input {
  box-shadow: none;
}
.has-product-filters .item-list .filter-label input:focus {
  border: 0.2rem solid rgb(var(--text-color));
}
@media (hover: hover) {
  .has-product-filters .item-list .filter-label:hover {
    color: rgb(var(--text-color));
    text-decoration-color: rgb(var(--text-color));
  }
}
.has-product-filters .item-list .color-type {
  display: flex;
  align-items: center;
}
.has-product-filters .item-list .color-type:focus-within .color-visual.light:after, .has-product-filters .item-list .color-type:focus-within .color-visual.dark:after {
  content: "";
  position: absolute;
  inset: -0.3rem;
  border-radius: 50%;
  border: 0.2rem solid rgb(var(--text-color));
}
.has-product-filters .item-list .color-type .color-visual {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
  margin-right: 1rem;
}
@media (min-width: 992px) {
  .has-product-filters .item-list .color-type .color-visual {
    border-radius: 50%;
  }
}
.has-product-filters .item-list .color-type .color-visual.light {
  border: 0.1rem solid #dedede;
}
.has-product-filters .item-list .color-type .color-visual:before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: absolute;
  display: block;
  inset: 0;
  z-index: 5;
  content: "";
}
.has-product-filters .item-list .color-type .filter-label {
  flex-grow: 1;
}
.has-product-filters .item-list label {
  cursor: pointer;
}
.has-product-filters .item-list li[disabled] {
  pointer-events: none;
  color: rgba(var(--text-color), 0.3);
}
.has-product-filters .item-list li[disabled] input {
  border-color: rgba(var(--text-color), 0.3);
}
.has-product-filters .active-filter {
  margin-top: 2rem;
  font-size: 0;
}
.has-product-filters .active-filter:empty {
  display: none;
}
.has-product-filters .active-filter-item:not(.form-footer-button) {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: rgb(var(--text-color));
  border-radius: 5rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.6153846154;
  font-size: 1.3rem;
  transition: background-color 0.3s, color 0.3s;
  border: 0.1rem solid rgb(var(--text-color));
}
.has-product-filters .active-filter-item:not(.form-footer-button)[data-reset=all] {
  padding: 0;
  color: rgb(var(--text-color));
  border: 0;
}
.has-product-filters .active-filter-item:not(.form-footer-button) svg {
  margin-left: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
}
@media (hover: hover) {
  .has-product-filters .active-filter-item:not(.form-footer-button):not([data-reset=all]):hover {
    background-color: rgb(var(--text-color));
    color: rgb(var(--background-color));
  }
  .has-product-filters .active-filter-item:not(.form-footer-button):not([data-reset=all]):hover svg {
    color: currentColor;
  }
}
.has-product-filters[data-columns="2"] .content .products .product-card {
  width: calc((100% - 30px) / 2);
}
.has-product-filters[data-columns="3"] .content {
  width: 100%;
}
.has-product-filters[data-columns="3"] .content .products .product-card {
  width: calc((100% - 60px) / 3);
}
@media (max-width: 991px) {
  .has-product-filters[data-columns="3"] .content .products .product-card {
    width: calc((100% - 30px) / 2);
  }
}
.has-product-filters .range-slider {
  padding: 1.6rem;
}
.has-product-filters .range-slider .noUi-target {
  background-color: #ddd;
}
.has-product-filters .range-slider .noUi-horizontal {
  height: 0.2rem;
}
.has-product-filters .range-slider .noUi-connect,
.has-product-filters .range-slider .noUi-handle {
  background-color: rgb(var(--text-color));
}
.has-product-filters .range-slider .noUi-handle {
  border: none;
}
.has-product-filters .range-slider .price-slider {
  padding: 0 0.45rem;
  margin-bottom: 2rem;
}
.has-product-filters .range-slider .price-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.has-product-filters .range-slider .separator {
  margin: 0 2rem;
}
.has-product-filters .range-slider .price-from,
.has-product-filters .range-slider .price-to {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 1.6rem;
}
.has-product-filters .range-slider .price-from:focus-within .price-currency,
.has-product-filters .range-slider .price-to:focus-within .price-currency {
  border-right-color: rgba(18, 18, 18, 0.55);
}
.has-product-filters .range-slider .price-from .price-currency,
.has-product-filters .range-slider .price-to .price-currency {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  opacity: 0.5;
}
.has-product-filters .range-slider .price-from input,
.has-product-filters .range-slider .price-to input {
  border-radius: 0.5rem;
  padding-left: 3rem;
  width: 10rem;
  padding-right: 1.5rem;
  background-color: transparent;
  font-weight: 500;
  height: 3.5rem;
  color: currentColor;
  text-align: right;
}
.has-product-filters .range-slider .price-from input::-webkit-input-placeholder,
.has-product-filters .range-slider .price-to input::-webkit-input-placeholder {
  opacity: 0.5;
}
.has-product-filters .range-slider .price-from input:-moz-placeholder,
.has-product-filters .range-slider .price-to input:-moz-placeholder {
  opacity: 0.5;
}
.has-product-filters .range-slider .price-from input::-moz-placeholder,
.has-product-filters .range-slider .price-to input::-moz-placeholder {
  opacity: 0.5;
}
.has-product-filters .range-slider .price-from input:-ms-input-placeholder,
.has-product-filters .range-slider .price-to input:-ms-input-placeholder {
  opacity: 0.5;
}
.has-product-filters .filter-sorting {
  color: rgb(var(--text-color));
  border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.7rem;
}
.has-product-filters .filter-sorting:first-child {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .has-product-filters .filter-form-wrapper {
    display: none;
  }
}
.has-product-filters .details-header {
  padding: 1rem 1.6rem;
  border-bottom: 0.1rem solid rgb(var(--text-color));
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.has-product-filters .details-header .item-reset {
  margin-left: 1rem;
}
.has-product-filters .details-header .item-helptext {
  flex: 0 0 100%;
  font-size: 85%;
  color: rgba(var(--text-color), 0.8);
}
.has-product-filters.filters-top .filter-form-wrapper {
  position: relative;
  z-index: 15;
  margin-bottom: 4rem;
}
.has-product-filters.filters-top .filter-form.no-filters {
  align-items: center;
}
.has-product-filters.filters-top details:after {
  content: none;
}
.has-product-filters.filters-top details[open] .details-summary svg {
  transform: rotateX(180deg);
}
.has-product-filters.filters-top .filter-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.has-product-filters.filters-top .filter-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.has-product-filters.filters-top .filter-wrapper .filter-item {
  margin-bottom: 1rem;
}
.has-product-filters.filters-top .filter-wrapper .filter-item:first-of-type .details-summary {
  border-radius: 0.4rem 0 0 0.4rem;
}
.has-product-filters.filters-top .filter-wrapper .filter-item:last-of-type .details-summary {
  border-radius: 0 0.4rem 0.4rem 0;
}
.has-product-filters.filters-top .sorting-wrapper {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
.has-product-filters.filters-top .sorting-wrapper .results-count {
  margin-left: 2rem;
}
@media (min-width: 992px) {
  .has-product-filters.filters-top .filter-item {
    position: relative;
  }
}
.has-product-filters.filters-top .filter-item + .filter-item {
  margin-left: -0.1rem;
}
.has-product-filters.filters-top .details-summary {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(var(--text-color));
  border: 0.1rem solid rgb(var(--text-color));
  padding: 1rem 1.6rem;
}
.has-product-filters.filters-top .details-summary svg {
  transition: transform 0.5s ease;
  margin-left: 1rem;
}
.has-product-filters.filters-top .details-summary .filter-title {
  font-size: 1.6rem;
  line-height: 2.7rem;
  white-space: nowrap;
}
.has-product-filters.filters-top .details-content {
  position: absolute;
  top: calc(100% + 1rem);
  background-color: rgb(var(--background-color));
  border: 0.1rem solid rgb(var(--text-color));
  border-radius: 0.4rem;
  width: max-content;
  min-width: 18rem;
  z-index: 5;
}
.has-product-filters.filters-sidebar details[open]:after {
  background-color: transparent;
}
@media (min-width: 992px) {
  .has-product-filters.filters-sidebar .content {
    display: flex;
  }
  .has-product-filters.filters-sidebar .layer-first {
    min-width: 38.4rem;
    width: 38.4rem;
    margin-right: 8rem;
  }
  .has-product-filters.filters-sidebar.filters-right .layer-first {
    order: 10;
    margin-left: 8rem;
    margin-right: 0;
  }
  .has-product-filters.filters-sidebar .layer-last {
    flex-grow: 1;
  }
}
@media (max-width: 991px) {
  .has-product-filters.filters-sidebar .filter-sorting {
    display: none;
  }
}
.has-product-filters.filters-sidebar .layer-last-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
@media (max-width: 991px) {
  .has-product-filters.filters-sidebar .layer-last-header {
    margin-bottom: 2rem;
  }
}
.has-product-filters.filters-sidebar .layer-last-header .active-filter {
  flex: 0 0 100%;
}
.has-product-filters.filters-sidebar .filter-item[open] .details-icon svg:first-child {
  display: none;
}
.has-product-filters.filters-sidebar .filter-item[open] .details-icon svg:last-child {
  display: block;
}
.has-product-filters.filters-sidebar .filter-item[open] .details-summary {
  border-color: transparent;
}
.has-product-filters.filters-sidebar .details-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1.7rem 0;
  border-bottom: 0.1rem solid #D3D3D3;
}
.has-product-filters.filters-sidebar .details-content {
  border: 0.1rem solid rgb(var(--text-color));
  border-radius: 0.4rem;
}
.has-product-filters.filters-sidebar .details-icon {
  border: 0.1rem solid rgb(var(--text-color));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  min-width: 4.8rem;
  height: 4.8rem;
  border-radius: 5rem;
}
.has-product-filters.filters-sidebar .details-icon svg {
  width: 1.6rem;
}
.has-product-filters.filters-sidebar .details-icon svg:last-child {
  display: none;
}
.has-product-filters.filters-sidebar .filter-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(var(--text-color));
}
.has-product-filters.filters-sidebar .pagination-list {
  justify-content: flex-start;
}
.has-product-filters .content {
  min-height: 50vh;
}
.has-product-filters .content .title {
  margin-top: 0;
  line-height: 1.25;
  margin-bottom: 2.3rem;
}
.has-product-filters .content .description {
  line-height: 1.6875;
  margin-bottom: 2.6rem;
}
.has-product-filters .content .products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.has-product-filters .content .products .product-card {
  width: 37rem;
}
.has-product-filters .content .products .product-card.ready {
  opacity: 0;
}
.has-product-filters .content .products .product-card.animate {
  transform: translateY(10rem);
  animation: moveUp 0.65s ease forwards;
}
[data-filtering] .has-product-filters .products,
[data-filtering] .has-product-filters .pagination {
  opacity: 0.5;
  pointer-events: none;
}
.has-product-filters .infinite-loading {
  height: 4rem;
  position: relative;
}
.has-product-filters .infinite-loading:before {
  content: "";
  z-index: 5;
  position: absolute;
  border: 0.5rem solid rgb(var(--loading-color));
  border-top-color: transparent;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  top: 50%;
  left: 50%;
  animation: circle-loading 500ms infinite linear;
}
.has-product-filters .mobile-filter {
  width: 100%;
}
@media (min-width: 992px) {
  .has-product-filters .mobile-filter {
    display: none;
  }
}
.has-product-filters .mobile-filter.is-open {
  position: relative;
  z-index: 1000;
}
.has-product-filters .mobile-filter.is-open .mobile-filter-modal {
  visibility: visible;
  opacity: 1;
}
.has-product-filters .mobile-filter.is-open .mobile-filter-modal .mobile-filter-form {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.has-product-filters .mobile-filter:not(.transform) .mobile-filter-modal .form-header .back-button {
  display: none;
}
.has-product-filters .mobile-filter.transform .mobile-filter-modal .form-header .close-button {
  display: none;
}
.has-product-filters .mobile-filter.transform .mobile-filter-modal .form-content .form-content-inner {
  transform: translateX(-100%);
}
@media (min-width: 992px) {
  .has-product-filters .mobile-filter .range-slider .price-from,
  .has-product-filters .mobile-filter .range-slider .price-to {
    width: 48%;
    max-width: 20rem;
  }
  .has-product-filters .mobile-filter .range-slider .price-from input,
  .has-product-filters .mobile-filter .range-slider .price-to input {
    width: 100%;
  }
}
.has-product-filters .mobile-filter .filter-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1.2rem;
  margin-bottom: 3rem;
  border: 0;
  border-radius: var(--button-radius);
  width: 100%;
}
@media (max-width: 991px) {
  .has-product-filters .mobile-filter .filter-sort {
    margin-bottom: 2rem;
  }
}
@media (min-width: 545px) {
  .has-product-filters .mobile-filter .filter-sort {
    max-width: 50%;
  }
}
.has-product-filters .mobile-filter .filter-sort svg {
  margin-right: 1.1rem;
}
.has-product-filters .mobile-filter .mobile-active-filter {
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow-x: auto;
}
.has-product-filters .mobile-filter .mobile-active-filter:empty {
  display: none;
}
.has-product-filters .mobile-filter .mobile-filter-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(var(--overlay-color), 0.4);
  transition: visibility 0.2s ease, opacity 0.2s ease;
}
.has-product-filters .mobile-filter .mobile-filter-modal .mobile-filter-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 10%;
  background-color: #fff;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s ease, opacity 0.2s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
}
.has-product-filters .mobile-filter .mobile-filter-modal .mobile-filter-form .item-list,
.has-product-filters .mobile-filter .mobile-filter-modal .mobile-filter-form .range-slider {
  padding: 0;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-header {
  padding: 2rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  position: relative;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-header .close-button,
.has-product-filters .mobile-filter .mobile-filter-modal .form-header .back-button {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--text-color));
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-header .close-button svg {
  width: 2.5rem;
  height: 2.5rem;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-header .back-button svg {
  width: 2.2rem;
  height: 2.2rem;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-header .heading {
  font-weight: 700;
  font-size: 1.8rem;
  color: rgb(var(--heading-color));
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-header .heading:empty {
  display: none;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-header .heading .item-helptext {
  font-weight: normal;
  font-size: 80%;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content {
  flex-grow: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .form-content-inner {
  padding: 0 2rem 2rem 2rem;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0);
  height: 100%;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-item {
  border-bottom: 1px solid #efefef;
  color: rgb(var(--text-color));
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-item.active .filter-content {
  display: block;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-item .item-list li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-item .item-list li.radio-item label {
  align-items: center;
  justify-content: flex-start;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-item .item-list input:checked ~ label {
  color: rgb(var(--text-color));
  font-weight: 500;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-item .item-list label {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-heading .heading-text {
  pointer-events: none;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-content .filter-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  padding: 2rem;
  display: none;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
  text-align: center;
  display: flex;
  justify-content: center;
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-footer .button {
  line-height: 1.2;
  padding: 1rem 4rem;
  width: 48%;
  max-width: 40%;
}
@media (min-width: 769px) {
  .has-product-filters .mobile-filter .mobile-filter-modal .form-footer .button {
    max-width: 20rem;
  }
}
.has-product-filters .mobile-filter .mobile-filter-modal .form-footer .button + .button {
  margin-left: 1rem;
}
.has-product-filters .pagination a {
  text-decoration: none;
}
@media (max-width: 991px) {
  .has-product-filters .products .active-filter {
    display: none;
  }
  .has-product-filters .content .title {
    font-size: 3.6rem;
    line-height: 6rem;
    margin-bottom: 2rem;
  }
  .has-product-filters .content .description {
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-bottom: 2.4rem;
  }
  .has-product-filters .product-card {
    margin-bottom: 3rem;
  }
  .has-product-filters .item-list input[type=checkbox] {
    border-color: rgb(var(--text-color));
  }
  .has-product-filters .item-list input[type=checkbox]:before {
    background-color: transparent;
  }
  .has-product-filters .item-list .color-visual {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #e0e0e0;
    margin-right: 1rem;
  }
  .has-product-filters .item-list .color-visual:before {
    background-size: 60%;
  }
  .has-product-filters .item-list .color-visual:after {
    content: none;
  }
  .has-product-filters .item-list .color-visual span {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    display: inline-block;
  }
  .has-product-filters .range-slider .noUi-connect,
  .has-product-filters .range-slider .noUi-handle {
    background-color: rgb(var(--text-color));
  }
  .has-product-filters .range-slider .price-from input,
  .has-product-filters .range-slider .price-to input {
    box-shadow: 0 0 0 0.1rem rgb(var(--text-color));
  }
  .has-product-filters .range-slider .price-from input:focus,
  .has-product-filters .range-slider .price-to input:focus {
    box-shadow: 0 0 0 0.2rem rgb(var(--text-color));
  }
}