.list-collection-section .title {
  font-size: 3.6rem;
  margin-bottom: 4rem;
  font-weight: 900;
}
.list-collection-section .card {
  position: relative;
  margin-bottom: 3rem;
}
@media (hover: hover) {
  .list-collection-section .card:hover img {
    transform: scale(1.05);
  }
}
.list-collection-section .card-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.list-collection-section .card-media {
  position: relative;
  overflow: hidden;
}
.list-collection-section .card-media img {
  transition: transform 0.3s ease, opacity 1s ease-out;
}
.list-collection-section .card-meta {
  padding: 2rem;
  background-color: rgba(var(--text-color), 0.05);
}
.list-collection-section .card-title {
  margin: 0;
  line-height: 1;
  font-size: 1.6rem;
}
.list-collection-section .card-title svg {
  width: 1.2rem;
  margin-left: 1rem;
}
.list-collection-section .card-desc {
  margin-top: 1rem;
  margin-bottom: 0;
}