@keyframes lazy-loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2rem);
  }
  60% {
    transform: translateY(-0.5rem);
  }
}
@keyframes topBottom {
  10%, 90% {
    transform: translateY(0);
  }
  20%, 80% {
    transform: translateY(1rem);
  }
  30%, 50%, 70% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(1rem);
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes circle-loading {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.circle-loading:before, .search-page-section .search-header .form.searching .field-button:before {
  content: "";
  z-index: 5;
  position: absolute;
  border: 3px solid rgb(var(--loading-color));
  border-top-color: transparent;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  animation: circle-loading 500ms infinite linear;
}

.search-page-section .search-content {
  padding: 4rem 0 8rem 0;
}
@media (min-width: 992px) {
  .search-page-section .search-content.search-empty {
    padding: 20rem 0 25rem 0;
  }
}
.search-page-section .search-header {
  text-align: center;
  margin-bottom: 3.5rem;
}
.search-page-section .search-header .heading {
  font-size: 2.4rem;
  font-weight: 400;
}
.search-page-section .search-header .form {
  position: relative;
  display: inline-flex;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 47.8rem;
  height: 4.5rem;
  font-size: 1.6rem;
  box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 0.5);
  transition: box-shadow 0.2s ease;
}
@media (max-width: 991px) {
  .search-page-section .search-header .form {
    margin-bottom: 0;
  }
}
.search-page-section .search-header .form:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(var(--text-color), 0.8);
}
.search-page-section .search-header .form.searching .field-button {
  position: relative;
}
.search-page-section .search-header .form.searching .field-button svg {
  opacity: 0;
}
.search-page-section .search-header .form .mini-results {
  position: absolute;
  left: -0.1rem;
  right: -0.1rem;
  top: calc(100% + 0.2rem);
  padding-top: 1rem;
  z-index: 20;
  box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 0.8);
  background-color: rgb(var(--background-color));
}
.search-page-section .search-header .form .mini-results:empty {
  display: none;
}
.search-page-section .search-header .form .mini-results .result-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
}
@media (hover: hover) {
  .search-page-section .search-header .form .mini-results .result-item:hover {
    background-color: rgba(var(--text-color), 0.05);
  }
}
.search-page-section .search-header .form .mini-results .item-image {
  width: 5rem;
  min-width: 5rem;
  margin-right: 1.5rem;
  position: relative;
}
.search-page-section .search-header .form .mini-results .item-image img {
  min-height: 5rem;
  height: 5rem;
  min-height: 5rem;
}
.search-page-section .search-header .form .mini-results .badge {
  background-color: rgba(var(--text-color), 0.8);
  color: rgb(var(--background-color), 0.8);
  border-radius: 0.5rem;
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  font-size: 1rem;
  padding: 0 0.5rem;
}
.search-page-section .search-header .form .mini-results .item-title {
  font-size: 1.3rem;
  font-weight: normal;
  text-align: left;
}
.search-page-section .search-header .form .mini-results .view-more-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border: 0;
  color: rgb(var(--text-color));
  border-top: 0.1rem solid rgba(var(--text-color), 0.8);
}
.search-page-section .search-header .form .mini-results .view-more-results svg {
  margin-left: 1rem;
}
.search-page-section .search-header .field-input {
  border: 0;
  flex-grow: 1;
  padding-right: 0;
  background-color: transparent;
}
.search-page-section .search-header .field-button {
  width: 4.5rem;
  background-color: transparent;
  border: 0;
  color: rgb(var(--text-color));
}
.search-page-section .search-results {
  padding: 0.1rem;
}
.search-page-section .search-results .card-item {
  position: relative;
  margin-bottom: 3rem;
}
@media (hover: hover) {
  .search-page-section .search-results .card-item:hover .card-media {
    opacity: 0.8;
  }
}
.search-page-section .search-results .card-media {
  position: relative;
  transition: opacity 0.2s ease;
}
.search-page-section .search-results .product-badge {
  position: static;
}
.search-page-section .search-results .badge {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  font-size: 80%;
  line-height: 1;
  background-color: rgb(var(--text-color));
}
.search-page-section .search-results .badge.on-sale {
  background-color: rgb(var(--sale-label-color));
}
.search-page-section .search-results .badge.sold-out {
  background-color: rgb(var(--out-stock-color));
}
.search-page-section .search-results .card-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.search-page-section .search-results .title {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}
.search-page-section .pagination {
  margin-top: 4rem;
}