.password-header a,
.password-header .link,
.password-footer a,
.password-footer .link {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness ease 0.1s;
}
@media (hover: hover) {
  .password-header a:hover,
  .password-header .link:hover,
  .password-footer a:hover,
  .password-footer .link:hover {
    text-decoration-thickness: 0.2rem;
  }
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.password-header .password-modal {
  margin: 1.5rem 0;
}
.password-header .password-modal .modal-toggle-close {
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 2rem;
  top: 2rem;
}
.password-header .password-modal .modal-toggle-close svg {
  width: 2rem;
  height: 2rem;
}
@media (hover: hover) {
  .password-header .password-modal .modal-toggle-close:hover svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}
.password-header .password-modal .modal-toggle-open {
  cursor: pointer;
  display: flex;
}
.password-header .password-modal .modal-toggle-open svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}
.password-header .password-modal[open] {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #f3f3f3;
  z-index: 20;
  text-align: center;
}
.password-header .password-modal[open] .modal-toggle-open {
  display: none;
}
.password-header .password-modal[open] .modal-toggle-close {
  display: inline-flex;
}
.password-header .password-modal .password-modal-content-heading {
  font-size: 1.8rem;
}
.password-header .password-modal #login_form {
  display: flex;
  align-items: stretch;
  margin: 5rem 0 3rem 0;
}
.password-header .password-modal #login_form .password-field {
  flex-grow: 1;
}
.password-header .password-modal #login_form .password-button {
  margin-left: 1rem;
  min-width: 12rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
}
.password-header .modal-content {
  max-width: 50rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-header .password-modal-content {
  width: 100%;
  padding: 2rem;
}

.password-footer {
  padding: 4rem 0;
}